/BackEnd/nbproject/private/
/FrontEnd Web/nbproject/private/
/FrontEnd WEB/nbproject/private/
/FrontEnd DESKTOP/nbproject/private/
/FrontEnd CONSOLE/nbproject/private/
/BackEnd/build/
/moviles-masterBack/build/
/moviles-masterBack/nbproject/private/
/FrontEnd CONSOLE/build/
/AutismApp/AutServlet/nbproject/private/
*.java
*.jar
